*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#2563eb;
}

.hidden{
display:none;
}

.screen{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:120px 20px 40px;
}

.card,
.dashboard-card{
background:white;
padding:40px;
border-radius:25px;
width:100%;
max-width:500px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.landing-card{
text-align:center;
color:#111827;
}

.landing-card h1{
font-size:70px;
color:#2563eb;
}

.landing-card h2{
margin:15px 0;
}

.logo{
text-align:center;
font-size:45px;
color:#2563eb;
}

.subtitle{
text-align:center;
color:gray;
margin-bottom:20px;
}

input{
width:100%;
padding:15px;
margin-top:15px;
border-radius:15px;
border:1px solid #d1d5db;
outline:none;
font-size:15px;
}

button{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:15px;
background:#2563eb;
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#1d4ed8;
}

.terms-box{
background:#eff6ff;
padding:20px;
border-radius:15px;
line-height:1.8;
margin:20px 0;
}

.check-container{
display:flex;
gap:10px;
align-items:center;
}

.analytics-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:20px;
}

.analytics-item{
background:#eff6ff;
padding:20px;
border-radius:15px;
text-align:center;
}

.module-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:20px;
}

.question-box{
background:#eff6ff;
padding:40px;
border-radius:20px;
text-align:center;
margin:20px 0;
}

.question-box h1{
font-size:50px;
color:#2563eb;
}

.profile-image,
.game-profile,
.nav-profile{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
display:block;
margin:20px auto;
border:4px solid #2563eb;
}

.progress-item{
background:#eff6ff;
padding:20px;
border-radius:15px;
margin-top:15px;
display:flex;
justify-content:space-between;
}

/* NAVBAR */

.navbar{

position:fixed;

top:20px;
left:50%;

transform:translateX(-50%);

width:95%;
max-width:1400px;

background:white;

padding:20px 30px;

border-radius:25px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:
0 10px 30px rgba(0,0,0,0.1);

z-index:999;
}

.nav-left{
display:flex;
align-items:center;
gap:15px;
}

.logo-box{
width:60px;
height:60px;
background:#2563eb;
border-radius:18px;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:28px;
}

.logo-info h1{
font-size:35px;
}

.logo-info span{
color:#2563eb;
}

.logo-info p{
font-size:14px;
color:gray;
}

.nav-center{
display:flex;
gap:20px;
}

.nav-btn{
padding:15px 20px;
border:none;
border-radius:15px;
background:#eff6ff;
color:#2563eb;
cursor:pointer;
font-weight:bold;
}

.nav-btn:hover{
background:#2563eb;
color:white;
}

@media(max-width:900px){

.navbar{
flex-direction:column;
gap:20px;
}

.nav-center{
flex-wrap:wrap;
justify-content:center;
}

.analytics-grid,
.module-grid{
grid-template-columns:1fr;
}

}